<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.CourseTeacherMapper">
    <select id="findBySearch" resultType="CourseTeacher">
        SELECT * FROM studentms.ct
        <where>
            <if test="cid != null">
                cid = #{cid}
            </if>
            <if test="tid != null">
                AND tid = #{tid}
            </if>
            <if test="term != null">
                AND term = #{term}
            </if>
        </where>
    </select>

    <select id="findMyCourse" resultType="Course">
        SELECT c.cid, c.cname, c.ccredit
        FROM studentms.c c INNER JOIN studentms.ct ct ON c.cid = ct.cid
        WHERE ct.tid = #{tid} AND ct.term = #{term}
    </select>

    <select id="findCourseTeacherInfo" resultType="CourseTeacherInfo">
        SELECT c.cid, c.cname, t.tid, t.tname, c.ccredit
        FROM studentms.c c INNER JOIN studentms.ct ct ON c.cid = ct.cid
                INNER JOIN studentms.t ON ct.tid = t.tid
        <where>
            <if test="tid != null">
                t.tid = #{tid}
            </if>
            <if test="tname != null">
                <if test="tFuzzy == 0">
                    AND t.tname = #{tname}
                </if>
                <if test="tFuzzy == 1">
                    AND t.tname LIKE CONCAT('%', #{tname}, '%')
                </if>
            </if>
            <if test="cid != null">
                AND c.cid = #{cid}
            </if>
            <if test="cname != null">
                <if test="cFuzzy == 0">
                    AND c.cname = #{cname}
                </if>
                <if test="cFuzzy == 1">
                    AND c.cname LIKE CONCAT('%', #{cname}, '%')
                </if>
            </if>
        </where>
    </select>
</mapper>